<ion-view view-title="Call Details">


  <ion-content class="return-visits-content has-header">

    <div class="row" style="background-color: #ffffff;">
      <div class="center center-div">
        <div class="button-bar button-bar-inline button-bar-header">
          <button class="button button-positive button-small" ng-click="vm.view.tabIndex = 0" ng-class="{'button-outline': vm.view.tabIndex != 0}">Profile</button>
          <button class="button button-positive button-small" ng-click="vm.view.tabIndex = 1" ng-class="{'button-outline': vm.view.tabIndex == 0}">Visits</button>
        </div>
      </div>
    </div>

<br>



    <div class="row">
      Call details
    </div>



  </ion-content>
</ion-view>



