@import "./mixins";
@import "./variables";

.truncate {
  @include truncate-text();
}

.pull-right {
  float: right !important;
  display: block !important;
}
.pull-left {
  float: left !important;
  display: block !important;
}

.pull-full {
  overflow: hidden;
}

/* .badge was giving me issues, so copied the base style here */
.pill {
  border-radius: 10px;
  color: white;
  display: inline-flex;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  min-width: 10px;
  padding: 3px 8px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  &:empty {
    display: none;
  }
  &.pill-light {
    background-color: $light;
  }
  &.pill-stable {
    background-color: $stable;
  }
  &.pill-positive {
    background-color: $positive;
  }
  &.pill-calm {
    background-color: $calm;
  }
  &.pill-assertive {
    background-color: $assertive;
  }
  &.pill-balanced {
    background-color: $balanced;
  }
  &.pill-energized {
    background-color: $energized;
  }
  &.pill-royal {
    background-color: $royal;
  }
  &.pill-dark {
    background-color: $dark;
  }
  &.pill-outline {
    background: none;
    border: 2px solid #999999;
    color: $dark;
    padding: 1px 6px;
  }
}

.popover-header-link {
  color: $positive !important;
}

.center {
  text-align: center !important;
}

.center-div {
  margin: auto !important;
  display: inline-block !important;
}

.button-bar-header {
  .button-outline {
    background-color: #ffffff !important;
  }
}


/** overrides */
.modal {
  top: 0px !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
}
