<ion-view view-title="Dashboard">

  <!--<ion-nav-buttons side="primary">-->
    <!--<button class="button button-stable button-clear button-small icon ion-ios-gear" ng-click="doSomething()"></button>-->
  <!--</ion-nav-buttons>-->
  <!--<ion-nav-buttons side="secondary">-->
    <!--<button class="button button-stable button-clear button-small icon ion-plus" ng-click="doSomething()"></button>-->
  <!--</ion-nav-buttons>-->

  <ion-content class="dashboard-content">

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ui-sref="main.listDetail">
        <img src="common/assets/images/yo@2x.png">
        <h2>Mr. Yo</h2>
        <p>Learn more...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
