<ion-view view-title="Return Visits">

  <ion-nav-buttons side="primary">
    <button class="button button-stable button-clear button-small icon ion-navicon" ng-click="menu.events.onMenuClicked()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-stable button-clear button-small icon ion-ios-more-outline" ng-click="vm.events.popover.open($event)"></button>
    <button class="button button-stable button-clear icon ion-ios-plus-empty" ng-click="vm.events.onAddClicked()"></button>
  </ion-nav-buttons>


  <ion-content class="return-visits-content">

    <!--<div class="row row-center">-->
      <!--<div class="col text-center">-->
        <!--<div class="button-bar button-bar-inline">-->
          <!--<a class="button button-small">All</a>-->
          <!--<a class="button button-small active">Active</a>-->
          <!--<a class="button button-small">Archived</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <ion-list can-swipe="true">
      <ion-item class="card" ng-repeat="item in vm.model.data" ui-sref="return-visits.call-details({id: item.id})" ng-class="{'inactive': !item.isActive}">
        <ion-option-button class="button-positive" ng-click="edit(item)">Archive</ion-option-button>

        <div class="clearfix">
          <div class="pull-left rv-status text-center row row-center">
            <span ng-if="item.isHome" class="icon ion-ios-mic dark"></span>
            <span ng-if="!item.isHome" class="icon ion-ios-mic-off not-home"></span>
          </div>
          <div class="pull-full">
            <div class="clearfix">
              <div class="pull-left"><b>{{item.name}}</b></div>
              <div class="pull-right">{{item.visitDate}}</div>
            </div>
            <div class="clearfix">
              <div class="pull-left truncate" style="width: 75%;">{{item.address}}</div>
              <div class="pull-right">
                <span class="pill pill-outline">{{item.attemptsSinceContact}}</span>
                <span class="pill" ng-class="{
                'pill-balanced': item.daysSinceContact <= 7,
                'pill-energized': item.daysSinceContact > 7 && item.daysSinceContact <= 14,
                'pill-assertive': item.daysSinceContact >  14
                }">{{item.daysSinceContact}}</span>
              </div>
            </div>
          </div>
        </div>

        </div>


      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
