@import "../../common/styles/variables";

.return-visits-content {
  background-color: #4A6DA7;


  .card {
    border-left: 4px solid $royal;

    &.item-complex .item-content {
      padding: 5px;
    }

    &.inactive {
      $inactive-color: #fff8a9;
      border-left: 4px solid $dark;
      font-style: italic;
    }

    .rv-status {
      font-size: 30px;
      width: 40px;
    }

    .not-home {
      color: lighten(#000000, 50%);
    }

  }

}
